# Domaine public principal (ex: monsite.ddns.net ou mondomaine.fr)
DOMAIN=

# Sous-domaine pour l'interface de gestion Homer Manager
MANAGER_SUBDOMAIN=manager

# Nom du certresolver configuré dans Traefik (ex: letsencrypt, myresolver)
CERT_RESOLVER=letsencrypt
