# Domaine public principal (ex: monsite.ddns.net ou mondomaine.fr)
DOMAIN=

# Sous-domaine pour l'interface de gestion Homer Manager
# Laissez vide pour utiliser manager.<DOMAIN>
MANAGER_SUBDOMAIN=manager
